* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 78px;
  text-align: center;
}

.Box-outer {
  border: 16px solid lightgrey;
}

.Box-2 {
  border: 16px solid black;
}

.Box-3 {
  border: 24px solid crimson;
}

.Box-4 {
  height: 100vh;
  background-color: khaki;
}
