/* Start coding here */
* {
  margin: 0;
  padding: 0;
}

.travel-blog-nav {
  color: #183b56;
  font-size: 2rem;
  font-weight: bold;

  background-color: #92aabd;
  padding: 30px;
}

.top-10-article {
  background-color: #e4e9ed;
  border: 3px solid #183b56;
  width: 500px;
  padding: 20px;
  margin: 50px;
}

.article-header {
  margin-top: 5px;
  margin-bottom: 15px;
  color: #183b56;
}

.article-text {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #183b56;
}
